
{{ define "hero" }}
  <h1 class="hero__title h1">{{.Title}}</h1>
{{ end }}

{{ define "content" }}

  <div data-grid="columns: 12">
    <div class="t-center" data-grid-item="width: 8, offset: 2, width-large: 6, offset-large: 3">
      <p class="t-lead t-center m-btm">{{ .Params.intro }}</p>
    </div>
  </div>

  <div class="sermon-list" data-grid="columns: 12, gutters-row: true">
    {{ range (.Paginator 10).Pages }}
      {{ partial "preprocess/loop-sermon.html" . }}
    {{ end }}
  </div>

  {{ template "_internal/pagination.html" . }}
  
{{ end }}