{{ define "hero" }}
  <h1 class="hero__title h1">Проповедь</h1>
{{ end }}

{{ define "content" }}
  {{ $var := .Scratch }}
  {{ partial "preprocess/sermon.html" . }}
  {{ $preprocess_sermon := $var.Get "preprocess_sermon" }}
  {{ $name_sermon :=       $preprocess_sermon.name_sermon }}
  {{ $name_speaker :=      $preprocess_sermon.name_speaker }}
  {{ $sermon_url :=        $preprocess_sermon.sermon_url }}
  {{ $sermon_youtube_id := $preprocess_sermon.sermon_id_youtube }}
  {{ $speaker_position :=  $preprocess_sermon.speaker_position }}
  {{ $speaker_person_type := $preprocess_sermon.speaker_person_type }}
  {{ $sermon_date := $preprocess_sermon.sermon_date }}
 
  <h2 class="h3">{{ $name_sermon }}</h2>
  <p>{{ $name_speaker }} | {{ $sermon_date }} </p>

  {{ if false }}
    {{ $speaker_person_type }} | {{ $speaker_position }}
  {{ end }}

  {{ with $sermon_url }}
  <p><strong>Аудио:</strong></p>
  <audio class="plyr-audio-player" controls>
    <source src="{{ . }}" type="audio/mp3">
  </audio>
  {{ end }}

  {{ with $sermon_youtube_id }}
  <p><strong>Видео:</strong></p>
  <div class="plyr__video-embed">
    <iframe
      src="https://www.youtube.com/embed/{{ . }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
      allowfullscreen
      allowtransparency
      allow="autoplay"
    ></iframe>
  </div>
  {{ end }}

{{ end }}