@hero-background-color: lightslategray;
@hero-link-color-hover: darken(lightslategray, 5%);
@hero-link-color: lightslategray;
@hero-padding-v: 22%;
@hero-text-color: white;

.hero {
  background-color: @hero-background-color;
  background-repeat: no-repeat;
  background-size: cover;
  color: @hero-text-color;
  position: relative;
  text-align: center;

  a {
    color: @hero-text-color;
  }

  &__content {
    padding-bottom: @hero-padding-v;
    padding-top: @hero-padding-v + 3%; // More padding for sticky header on top
    @media @break-primary {
      padding-bottom: @hero-padding-v + 2%;
      padding-top: @hero-padding-v + 20%;
    }
  }

  &--home {
    .mix-img-url("global/roberto-clemente-bridge-pittsburgh-180205.jpg");
  }

  &--page {
    background: lightblue;

    .hero__title {
      margin-bottom: 0;
    }

    .hero__content {
      padding-top: 75px;
      padding-bottom: 40px;
    }
  }
}
