// =============================================================================
// Sermon List
// =============================================================================

.sermon-list {
  &__item {
    margin-bottom: @element-margin;
    box-shadow: 3px 5px 30px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    height: 100%;
    position: relative;
    padding-bottom: 65px;
    transition: all .3s cubic-bezier(.2, .5, .3, 1);
    border-top: 4px solid transparent;
  }

  &__header {
    padding: (@base-medium/2) @base-medium;
  }

  &__title {
    .t-large;
  }

  &__speaker {
    padding-bottom: @base-medium/2
  }

  &__body {}

  &__footer {
    border-top: 1px solid @color-black-15;
    padding: @base-medium/2 @base-medium;
    background-color: @color-black-3;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__meta {
    .t-small;
    .t-italic;
    padding: @base-medium;
    padding-bottom: 0;
    color: @color-black-50;
  }
}