.site-header {
  .cf;
  background-color: @gray-dark-xxx;
  a {
    color: white;
    display: inline-block;
  }
  &__logo {
    width: 30%;
    float: left;
    padding-top: 7px;
    .cf;
    h2 {
      font-size: 18px;
      font-weight: bold;
      line-height: 28px;
      float: left;
    }
    .icon {
      width: 28px;
      width: 1.75rem;
      height: 28px;
      height: 1.75rem;
      margin-right: 4px;
      float: left;
    }
  }
  &__nav {
    width: 70%;
    float: left;
  }
}