@site-header-logo-height: 50px;
@site-header-padding-v: 7px;
@site-header-height: @site-header-logo-height + @site-header-padding-v * 2;
@site-header-logo-width: 35px;

.site-header {
  .cf;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @site-header-height;
  padding-top: @site-header-padding-v;
  padding-bottom: @site-header-padding-v;
  margin-top: -3px;

  a {
    color: white;
    display: inline-block;
  }

  &__logo-icon {
    display: block;
    width: @site-header-logo-width;
    height: @site-header-logo-height;
    background-size: 100%;
    float: left;
    .mix-img-url("global/hofp-logo.png");
  }

  &__logo {
    height: @site-header-logo-height;
    // width: 30%;
    // float: left;
    position: relative;
    // .cf;

    h2 {
      position: absolute;
      top: 50%;
      left: @site-header-logo-width + 8px;
      transform: translateY(-50%);
      font-size: 18px;
      font-weight: bold;
    }
  }

  &__nav {
    display: none;
  }

  transition: background-color 0.5s;
  background-color: fade(@gray-dark-xxx, 40%);

  &.active {
    background-color: @gray-dark-xxx;
    background-color: fade(@gray-dark-xxx, 97%);
  }
}
