{{ define "hero" }}
  <h1 class="hero__title h1">Дом молитвы для <em>всех</em></h1>
  <p class="hero__subtitle t-upper">Славянская христианская церковь<br>PITTSBURGH, PA</p>
{{ end }}


{{ define "content" }}
  <div class="content__intro">
    <h2 class="h2">Последние проповеди</h2>
    {{ .Params.intro }}
    <div class="icon icon--close"></div>
    <div class="icon icon--facebook"></div>
  </div>

  <div class="sermon-list" data-grid="columns: 12, gutters-row: true">
    {{ range first 3 (where .Pages "Section" "sermon") }}
      {{ partial "preprocess/loop-sermon.html" . }}
    {{ end }}
  </div>
  <div data-grid="columns: 12, gutters-row: true">
    <div class="t-center" data-grid-item="width: 12">
      <a href="/sermon/" class="btn">Все проповеди</a>
    </div>
  </div>

{{ end }}