{{ define "hero" }}
  <h1 class="hero__title h1">Дом молитвы для <em>всех</em></h1>
  <p class="hero__subtitle t-upper">Славянская христианская церковь<br>PITTSBURGH, PA</p>
{{ end }}


{{ define "content" }}
  <div class="content__intro">
    <h2 class="section__title">Последние проповеди</h2>
    <div data-grid="columns: 12">
      <div class="t-center" data-grid-item="width: 8, offset: 2, width-large: 6, offset-large: 3">
        <p class="t-lead t-center">{{ .Params.intro }}</p>
      </div>
    </div>
  </div>

  <div class="sermon-list" data-grid="columns: 12, gutters-row: true">
    {{ range first 4 (where .Pages "Section" "sermon") }}
      {{ partial "preprocess/loop-sermon.html" . }}
    {{ end }}
  </div>
  <div data-grid="columns: 12, gutters-row: true">
    <div class="t-center" data-grid-item="width: 12">
      <a href="/sermon/" class="btn">Все проповеди</a>
    </div>
  </div>

{{ end }}