{{ $var := .Scratch }}
{{ partial "preprocess/sermon.html" . }}
{{ $preprocess_sermon := $var.Get "preprocess_sermon" }}
{{ $name_sermon := $preprocess_sermon.name_sermon }}
{{ $sermon_date := $preprocess_sermon.sermon_date }}
{{ $name_speaker := $preprocess_sermon.name_speaker }}

<div data-grid-item="width: 6, width-medium: 4">
  <div class="sermon-list__item">
    <div class="sermon-list__meta">
    {{ $sermon_date }}
    </div>
    <div class="sermon-list__header">
      <h3 class="sermon-list__title">{{ $name_sermon }}</h3>
      <div class="sermon-list__speaker">{{ $name_speaker }}</div>
    </div>
    <div class="sermon-list__body">
    </div>
    <div class="sermon-list__footer">
      <a class="btn" href="{{.Permalink}}">Слушать</a>
    </div>
  </div>
</div>
