
// Headlines
// =====================================
.section--content {
  h1, h2,h3,h4,h5 {
    color: @t-color-dark;
  }
}

.h1 {
  // .mix-text(
  //   @size: 48px, 
  //   @lh: 0.9em, 
  //   @family: inherit, 
  //   @with-p: yes
  // ); 
  .mix-text-size("large-xx", true); 
  font-weight: bold;
}
.h2 {
  .mix-text-size("large-x", true); 
  font-weight: bold;
}
.h3 {

}
.h4 {

}
.h5 {

}
.h6 {
  
}