// Version:         1.0.1

// Changes:         1.0.1 | Moved hooks into this file


@btn-border-radius:           50px; // Set to 0 for none
// @btn-proportion:              2.2; // Padding Proportions (w vs. h)
// @btn-brd-width:               1px; // Set to 0 for none
// @btn-hover-bg-amount:         6%; // Amount to darken background (use negative value for lighten)
// @btn-hover-brd-amount:        6%; // Amount to darken border (use negative value for lighten)
// @btn-lh:                      1.3em; // Line height
// @btn-letter-spacing:          0.02em; // For on-the-go use to fix letterspacing, Used in buttons
// @btn-gradient:                off; // On or Off (adds gradient)
// @btn-gradient-amount:         6%; // Percentage for gradient


// Primary Button
@btn-bg:                      #6852ED;
@btn-brd-color:               transparent;
// @btn-txt-color:               white;

// Secondary Button
// @btn-alt-bg:                  white;
// @btn-alt-brd-color:           @color-blue;
// @btn-alt-txt-color:           darken(@color-blue, 50%);

// Button Sizes
// @btn-small-height:            @base-small-x - 2px;
// @btn-small-txt-size:          @t-small;
@btn-height:                  15px;
// @btn-txt-size:                @t-base;
// @btn-large-height:            @base-medium;
// @btn-large-txt-size:          @t-base;

// Icon Buttons
// @btn-icon-only-small-height:  33px;
// @btn-icon-only-height:        43px;
// @btn-icon-only-large-height:  53px;


.hook--mix-btn() {
  background-image: linear-gradient(45deg,#6852ED 40%,#ba43fc);
  letter-spacing: .5px;
  transition: .2s ease-in-out;
  transition-property: color,background-color,background-position,border-color,box-shadow;
  &:hover {
    background-color: #543beb;
    background-image: linear-gradient(45deg,#6852ED 40%,#b945fa);
    box-shadow: 0 0 30px 0 rgba(91,64,255,.5);
  }
}
.hook--btn-disabled() {}
.hook--btn-inside() {}
